.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90vw;
    gap: 1rem;
    
}

@media screen and (min-width: 450px) {
    .container {
        width: 80vw;
    }
}

@media screen and (min-width: 1180px) {
    .container {
        width: 50vw;
    }
}
